In [1]:
import pandas as pd
import numpy as np
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import make_classification

In [2]:
df_heat = pd.read_csv('heat_stats.csv')
df_heat = df_heat.dropna() # drops the NaN values but do we need them?
df_heat.head()

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
0,42013,1610612748,MIA,Miami Heat,41300404,2014-06-12,MIA vs. SAS,L,241,86,...,0.650,6,21,27,13,7,1,13,25,-21.0
1,42013,1610612748,MIA,Miami Heat,41300403,2014-06-10,MIA vs. SAS,L,241,92,...,0.750,5,21,26,17,8,1,20,26,-19.0
2,42013,1610612748,MIA,Miami Heat,41300402,2014-06-08,MIA @ SAS,W,241,98,...,0.762,5,33,38,16,6,3,13,20,2.0
3,42013,1610612748,MIA,Miami Heat,41300401,2014-06-05,MIA @ SAS,L,241,95,...,0.818,7,22,29,16,14,2,16,21,-15.0
4,42013,1610612748,MIA,Miami Heat,41300306,2014-05-30,MIA vs. IND,W,242,117,...,0.857,8,29,37,24,7,4,9,22,25.0

In [3]:
df_lb = pd.read_csv('lebronstats.csv')
df_lb = df_lb.dropna()
df_lb.reset_index()
df_lb.head()

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
0,22020,1610612747,LAL,Los Angeles Lakers,22000608,2021-03-15,LAL @ GSW,W,30,22,...,0.667,1,9,10,11,0,0,6,3,6.6
1,22020,1610612747,LAL,Los Angeles Lakers,22000585,2021-03-12,LAL vs. IND,W,34,18,...,0.636,0,3,3,10,1,0,3,4,2.2
3,22020,1610612747,LAL,Los Angeles Lakers,22000542,2021-03-02,LAL vs. PHX,L,38,38,...,0.600,0,5,5,6,2,1,3,1,0.4
4,22020,1610612747,LAL,Los Angeles Lakers,22000527,2021-02-28,LAL vs. GSW,W,24,19,...,0.500,2,4,6,4,2,2,2,2,3.6
5,22020,1610612747,LAL,Los Angeles Lakers,22000512,2021-02-26,LAL vs. POR,W,36,28,...,0.500,1,10,11,7,4,3,2,1,1.8

In [4]:
df_lb[['PTS', 'AST', 'REB']]

      PTS  AST  REB
0      22   11   10
1      18   10    3
3      38    6    5
4      19    4    6
5      28    7   11
...   ...  ...  ...
1659   23    3    5
1660    7    7   11
1661    8    6    4
1662   21    8   12
1663   25    9    6

[1571 rows x 3 columns]

In [5]:
X_train, X_test, y_train, y_test = train_test_split(df_lb[['PTS', 'AST', 'REB']], df_lb['WL'], test_size=0.4)

In [6]:
# X_train = pd.Series(X_train).to_numpy()
# X_test = pd.Series(X_test).to_numpy()
# y_train = pd.Series(y_train).to_numpy()
# y_test = pd.Series(y_test).to_numpy()

In [7]:
rforestclf = RandomForestClassifier(n_estimators = 100)
# print(X_train.values)
# print(y_train.values.ravel())

In [8]:
rforestclf.fit(X_train, y_train)

RandomForestClassifier()

In [9]:
results = rforestclf.predict(X_test)
print('SCORE: ', rforestclf.score(X_test, y_test)*100, '%')

SCORE:  60.89030206677265 %

In [10]:
# total = 0
# correct = 0
# for i in range(len(results)):
#     total += 1
#     if results[i] == y_test.ravel()[i]:
#         correct += 1
# correct / total * 100

In [17]:
# new model starts here
RF = RandomForestClassifier(class_weight = {'W':1, 'L':0})
RF.fit(X_train, y_train)
results = RF.predict(X_test)
print('SCORE: ', RF.score(X_test, y_test)*100, '%')

SCORE:  64.70588235294117 %

In [12]:
# X_train, y_train = make_classification(n_samples=1000, n_features=4, n_informative=2, n_redundant=0, random_state=0, shuffle=False)
# clf = RandomForestClassifier(max_depth=3, random_state=0)
# results = clf.fit(X_train, y_train)